<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </header>
    <div>
        <table>
            <tr>
                <td>{{localize 'norse.injuries.friendlyName'}}</td>
                <td>
                    <input name="data.friendlyName" type="text" value="{{data.friendlyName}}">
                </td>
            </tr>
            <tr>
                <td>{{localize 'norse.injuries.onsetAt'}}</td>
                <td>
                    <input name="data.onsetAt" type="text" value="{{data.onsetAt}}" data-dtype="Number">
                </td>
            </tr>
            <tr>
                <td>{{localize 'norse.injuries.maxAt'}}</td>
                <td>
                    <input name="data.maxAt" type="text" value="{{data.maxAt}}" data-dtype="Number">
                </td>
            </tr>
            <tr>
                <td>{{localize 'norse.injuries.maxSeverity'}}</td>
                <td>
                    <input name="data.max" type="text" value="{{data.max}}" data-dtype="Number">
                </td>
            </tr>
            <tr>
                <td>{{localize 'norse.injuries.value'}}</td>
                <td>
                    <input name="data.value" type="text" value="{{data.value}}" data-dtype="Number">
                </td>
            </tr>
            <tr>
                <td>{{localize 'norse.injuries.severity'}}</td>
                <td>
                    <input name="data.severity" type="text" value="{{data.severity}}" data-dtype="Number">
                </td>
            </tr>
        </table>
    </div>
</form>
