<form class="{{cssClass}}" autocomplete="off">
    {{log this}}
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </header>
    <section class="templateData">
        <div>
            <table>
                {{log data}}
                {{#each data}}
                    <tr>
                        {{log @key}}
                        {{log this}}
                        <td>{{localize (concat 'norse.material.' @key)}}</td>
                        <td>
                            <input name={{@key}} type="text" value="{{this}}">
                        </td>
                    </tr>
                {{/each}}
            </table>
        </div>
    </section>
</form>
