<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </header>
    <div>
        <table>
            <tr>
                <th>{{localize 'fs2e.weapon.attackWith'}}</th>
                <th>{{localize 'fs2e.weapon.damage'}}</th>
                <th>{{localize 'fs2e.weapon.conceal'}}</th>
                <th>{{localize 'fs2e.weapon.reload'}}</th>
                <th>{{localize 'fs2e.weapon.mookBonus'}}</th>
                <th>{{localize 'fs2e.weapon.pumpAction'}}</th>
            </tr>
            <tr>
                <td>
                    <select name="data.attackWith">
                        {{#select data.attackWith}}
                        {{#each config.attackTypes as |name type|}}
                        <option value="{{type}}">{{name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </td>
                <td>
                    <input name="data.damage" type="text" value="{{data.damage}}" data-dtype="Number" />
                </td>
                <td>
                    <input name="data.concealment" type="text" value="{{data.concealment}}" data-dtype="Number"/>
                </td>
                <td>
                    <input name="data.reload" type="text" value="{{data.reload}}" data-dtype="Number"/>
                </td>
                <td>
                    <input name="data.mookBonus" type="text" value="{{data.mookBonus}}" data-dtype="Number"/>
                </td>
                <td>
                    <input name="data.pumpAction" type="checkbox" {{checked data.pumpAction}}/>
                </td>
            </tr>
        </table>
        <textarea name="data.description">{{data.description}}</textarea>
    </div>
</form>
